body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(212, 45%, 89%);
    height:100vh;
    margin: 0;
}
p{
    font-size: 15px;
}
.card img{
  
    border-radius: 21px ;
   width:100%;
    padding: 10px

}

.card{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:15% 15% 15% 15%;
    box-shadow: 0 4px 8px 0 rbga(0,0,0,0.2);
    transition: 0.1s;
    width: 36%;
     width: 90%;
    max-width: 320px;
    margin: 0 auto;
    background:white
    border-radius: 25px;
    background-color: #ffffff;text-align: center;
}
.card h2{
    font-size:18px;
    margin: 16px 0 10px;
}
.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container{
    padding: 2px 16px;
}
@media (min-width: 768px) {
    .card{
        max-width: 400px;
    }
    

}

